@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@1,500;1,700&family=Roboto:wght@400;700&display=swap');

/* All css is mobile first for faster loading. Desktop overrides are applied via media query at the bottom */

:root {
    --main-color: #cb410b;
    --comp-color: #0b95cb;
    --text-primary: #333;
    --text-disabled: grey;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

body {
    background: #ffffff;
    color: #333;
    font-size: 18px;
    line-height: 1.5;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

/* Headers */

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

h1,
h2 {
    font-family: 'Kufam', sans-serif;
    font-style: italic;
}

h1 {
    font-weight: 700;
    font-size: 1.35em;
}

h2 {
    font-weight: 500;
    font-size: 1.2em;
}

h3 {
    font-size: 1.1em;
}

/* Links */

a {
    color: var(--comp-color);
    text-decoration: none;
}

a:active,
a:hover {
    outline: 0;
}

a:hover,
a:focus {
    color: var(--main-color);
}

a:hover svg,
a:focus svg {
    fill: var(--main-color);
}

a:active {
    color: var(--main-color);
    opacity: 0.9;
}

a.active {
    color: var(--main-color);
}

h2 a {
    color: var(--text-color);
}

h1.title {
    display: flex;
    margin-top: 0;
    border-bottom: thin solid lightgrey;
    align-items: flex-end;
    justify-content: space-between;
}

h1.title .post-info {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 5px;
}

a.zola-anchor {
    margin-right: 0.5em;
}

/* Table */
.table-wrapper {
    overflow-x: auto;
}

table {
    max-width: 100%;
    border-spacing: 0;
}

thead {
    background: lightgrey;
}

th,
td {
    padding: 0.5em 1em;
    border: 1px double lightgrey;
}

/* Code */
pre {
    padding: 1em;
    background-color: #f1f1f1;
    max-width: 100%;
    overflow: auto;
    margin-top: 0;
}

code,
pre,
kbd {
    font-family: monospace;
    font-size: 0.90em;
    line-height: 154%;
}

button {
    background-color: #bababa;
    color: #fff;
    border: none;
    padding: 3px 10px;
    border-radius: 5px;
}

button:hover {
    background-color: var(--main-color);
    transition: 0.7s;
    cursor: pointer;
}

/* Styles */

blockquote {
    border-left: 2px solid #cccccc;
    padding: 0.1em 1em;
    margin-left: 0.75em;
}

p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

hr {
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
}

ul ol,
ol ol,
ul ul {
    margin: 0em 2em;
}

ul {
    margin: 0 0 2em 0;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    margin: 30px auto;
    max-width: 900px;
    outline: none;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    overflow: auto;
}

.content img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

/* Posts List */

.post-list-item {
    border-bottom: thin solid #f1f1f1;
    padding-bottom: 1em;
    margin-bottom: 1.5em;
}

.post-list-item .post-title {
    margin-bottom: 0.5em;
    margin: 0 0 0.5em 0;
}

.post-info {
    color: var(--text-disabled);
    font-size: 0.75em;
}

.post-list-item:last-child {
    border-bottom: none;
}

/* Personal Information Section */

.me {
    min-width: 210px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    order: 2;
    padding: 30px 0;
}

.profile-photo-wrapper {
    max-width: 180px;
}

.profile-photo {
    width: 100%;
    border-radius: 50%;
}

.contact-info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    /* padding-bottom: 30px; */
}

.social-links {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.social-links a {
    display: flex;
    align-items: center;
    margin-right: 0.7em;
    margin-bottom: 1em;
}

.social-links a:last-child {
    margin-right: 0;
}

.contact-info svg {
    height: 18px;
}

.contact-info p {
    font-size: 14px;
    color: var(--text-disabled);
}

.contact-info h1 {
    margin: 0;
    font-size: 23px;
    line-height: 1;
    text-transform: uppercase;
    text-align: justify;
}

.contact-info h1 a {
    color: var(--text-color);
}

.contact-info h1 a:hover {
    color: var(--main-color);
}

.contact-info span:first-of-type {
    margin: 0 0 20px 0;
}

.contact-info span {
    color: var(--text-disabled);
    margin: 0 0 7px 0;
    font-size: 14px;
    line-height: 1;
}

.border {
    background-color: var(--main-color);
    height: 10px;
    order: 1
}

/* About Me Page */

.about-page {
    font-size: smaller;
}

.about-page ul,
.about-page ul ul {
    padding-left: 15px;
    margin: 0 0 1.5em 0;
}

.about-page h1 {
    border-bottom: thin solid #cccccc;
}

.about-page h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    color: white;
    background-color: #bababa;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5em 0 0 0;
}

.about-page h2 em {
    font-weight: normal;
    font-size: smaller;
}

.about-page p {
    margin-top: 1.5em;
}

.about-page code {
    display: inline-block;
    padding: 0px 6px;
    border: thin solid #cccccc;
    border-radius: 5px;
}

.about-page .print-me {
    font-family: 'Roboto';
    float: right;
    font-style: normal;
}

/* 404 */

.fof {
    margin-bottom: 1em;
    border-bottom: thin solid #f1f1f1;
}

.fof h1 {
    display: inline-block;
    padding-right: 10px;
    margin: 0;
    animation: type .5s alternate infinite;
}

.visible-desktop {
    display: none;
}

.visible-mobile {
    display: block;
}

@keyframes type {
    from {
        box-shadow: inset -3px 0px 0px #888;
    }

    to {
        box-shadow: inset -3px 0px 0px transparent;
    }
}

@media only screen and (min-width: 768px) {
    .index-page {
        flex-direction: row;
        padding: 0 30px 0;
    }

    .index-page .me {
        order: 0;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 0 30px 0 0;
        max-width: 210px;
    }

    .index-page .border {
        order: 0;
        height: auto;
        min-width: 10px;
        margin-right: 30px;
    }

    .index-page .contact-info {
        margin: 20px 0 0 0;
        max-width: 205px;
    }

    .visible-desktop {
        display: block;
    }

    .visible-mobile {
        display: none;
    }
}

@media print {
    @page {
        size: auto;
        margin: 0.3in 0 !important
    }

    body {
        margin: 1.6cm;
    }

    main {
        flex-direction: column;
    }

    .me {
        order: 0;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }

    .contact-info {
        margin: 0 0 0 20px;
        max-width: 205px;
    }

    .print-hidden {
        display: none;
    }

    .gallery {
        display: none;
    }

    .about-page li:has(> a.gallery) {
        display: none;
    }

    .about-page h2 {
        padding: 0;
        color: black;
    }

    .pagebreak {
        page-break-before: always;
    }
}