<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:image" content="/img/ProfilePhoto-400.jpg" />

    {% if page %}
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% elif config.description %}
    <meta name="description" content="{{ config.description }}" />
    {% endif %}
    {% elif config.description %}
    <meta name="description" content="{{ config.description }}" />
    {% endif %}

    <title>{% if page and page.title %}{{page.title}} | {% endif %}{{ config.title }}</title>

    {% if config.generate_feed %}
    <link rel="alternate" type={% if config.feed_filename=="atom.xml" %}"application/atom+xml"{% else
        %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
    {% endif %}

    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
    <main class="{% if current_path and current_path == '/' %}index-page{% endif %}">
        <aside class="me">
            <div class="profile-photo-wrapper">
                <img src="/img/ProfilePhoto-400.jpg" alt="Peter Todorov Profile Picture" class="profile-photo" />
            </div>
            <div class="contact-info">
                <h1><a href="/">Peter Todorov</a></h1>
                <span>Proffesional Software Developer</span>
                <span>Follow me at</span>
                <div class="social-links">
                    <a href="https://github.com/peterprototypes" target="_blank" title="GitHub">
                        {% include "icons/github.html" %}
                    </a>
                    <a href="https://gitlab.com/ptodorov" target="_blank" title="GitLab">
                        {% include "icons/gitlab.html" %}
                    </a>
                    <a href="https://twitter.com/PeterPrototypes" target="_blank" title="Twitter">
                        {% include "icons/twitter.html" %}
                    </a>
                    <a href="https://youtube.com/@PeterPrototypes" target="_blank" title="YouTube">
                        {% include "icons/youtube.html" %}
                    </a>
                    <a href="https://www.linkedin.com/in/peter-todorov-96604651/" target="_blank" title="LinkedIn">
                        {% include "icons/linkedin.html" %}
                    </a>
                    <a href="mailto:" title="Email Me" class="not-today">
                        {% include "icons/mail.html" %}
                    </a>
                </div>
                <p>
                    Hey, I'm Peter. I'm a software dev by day and hardware hacker by night. If you spot any inaccuracies
                    or wish to contribute, don't hesitate to open a PR on GitHub or drop me an email.
                </p>
            </div>
        </aside>
        <div class="border"></div>
        <div class="content">
            {% block content %} {% endblock %}
        </div>
    </main>

    {% include "partials/github-corner.html" %}

    <script src="/script.js"></script>
</body>

</html>